body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
.container {
    background: rgb(253, 221, 221);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(236, 51, 51, 0.1);
    text-align: center;
}
input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 80px;
    margin-bottom: 10px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}